<h1>Todo List</h1>

<form (ngSubmit)="createTodo()">
  <input type="text" [(ngModel)]="newTodo.title" name="title" placeholder="Enter new todo" />
  <button type="submit">Add</button>
</form>

<p *ngIf="!todos"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<ul>
  <li *ngFor="let todo of todos">
    <input type="checkbox" [(ngModel)]="todo.isCompleted" (change)="updateTodo(todo)" />
    <span [class.completed]="todo.isCompleted">{{ todo.title }}</span>
    <button (click)="deleteTodo(todo)">Delete</button>
  </li>
</ul>